<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f/resourceGroups/v-pravallika-mindtree/providers/Microsoft.Web/sites/pravuwebapp</ResourceId>
    <ResourceGroup>v-pravallika-mindtree</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pravuwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c858f7d4-1c27-4c45-a72e-ca4194e41f20</ProjectGuid>
    <PublishUrl>https://pravuwebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$pravuwebapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>